/*
 * Top panel bar
 */
phosh-top-panel {
  font: 15px Cantarell;
}

.phosh-panel-btn {
  background-image: none;
  border-width: 0;
}

phosh-top-panel .indicators {
  font-weight: bold;
  font-feature-settings: "tnum";
}

.phosh-topbar-clock {
  font-weight: bold;
  font-feature-settings: "tnum";
}

.phosh-power-button {
  padding-top: 0;
  padding-bottom: 0;
}

/*
 * Home bar
 */
.phosh-osk-button {
  border-radius: 50%;
  min-width: 0;
  min-height: 0;
  padding: 6px;
}

/*
 * Settings menu
 */
.phosh-settings-menu {
  background-color: @phosh_bg_color;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.phosh-settings-menu button.circular:not(:hover):not(:active) {
  border: 2px solid @theme_bg_color;
}

.phosh-notification-tray, .phosh-notification-tray list {
  border-radius: 6px;
  background-color: @phosh_notification_bg_color;
}

.phosh-quick-setting {
  font-size: 9px;
  padding: 9px;
  border: 0;
  box-shadow: 0 0;
}

.phosh-quick-setting:not(:hover):not(:active) {
  background: none;
}

/*
 * Overview (app grid with favories and, activities)
 */
phosh-activity > widget > button {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  transition: none;
}

phosh-activity box button {
  background: white;
  border: none;
  border-radius: 0;
  /* box-shadow: 0 2px 2px rgba(0,0,0,0.4), 0 3px 16px rgba(0,0,0,0.3); */
}

.phosh-activity-empty {
  background: url('resource:///sm/puri/phosh/fake-app.svg');
  background-size: cover;
}

phosh-activity box {
  background: rgba(0, 0, 0, 0.7);
  padding: 6px;
  color: white;
  font-weight: bold;
}

phosh-activity:focus box {
  background: rgba(38, 35, 83, 0.7);
}

phosh-home, phosh-top-panel {
  background: @phosh_bg_color;
  color: @phosh_fg_color;
}

.phosh-activity-close-button {
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
}

.phosh-overview {
  background: @phosh_bg_color;
}

.phosh-favorite {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.phosh-favorite:hover {
  -gtk-icon-effect: none;
}

.phosh-favorite:active {
  -gtk-icon-effect: highlight;
}

.phosh-search-bar-box {
  margin: 6px 16px;
}

.phosh-search-bar {
  border-radius: 9999px;
  padding: 3px 18px 3px 14px;
}

.phosh-menu-button {
  margin: 3px 0px 3px 10px;
}

phosh-app-grid {
  background: @phosh_bg_color;
}

phosh-app-grid separator {
  background: rgba(51, 51, 51, 1);
  min-height: 2px
}

phosh-app-grid-button {
  font-size: 0.8rem;
}

phosh-app-grid-button button, phosh-app-grid-button button:hover {
  background: none;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
}

phosh-app-grid-button button:hover,
phosh-app-grid-button button:focus,
.search-active phosh-app-grid-button:first-child button {
  background: rgba(46, 45, 45, 0.6);
  border-radius: 5px;
}

phosh-app-grid-button button:focus {
  border-color: @theme_selected_bg_color;
}

phosh-app-grid-button image {
  /* -gtk-icon-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 1px 8px rgba(0,0,0,0.2); */
}

/*
 * Lock screen
 */
phosh-lockscreen, .phosh-lockshield {
  background-color: @phosh_bg_color;
}

.phosh-lockscreen-clock {
  font-size: 72px;
  font-weight: 100;
  font-feature-settings: "tnum";
}

.phosh-lockscreen-arrow {
  transition: 400ms linear;
  animation: pulsate 1.8s ease-out;
  animation-iteration-count: 15;
}

.phosh-lockscreen-pin {
  font-size: 20px;
}

@keyframes pulsate {
  0% {-gtk-icon-transform: translateY(0); opacity: 0.7}
  35% {-gtk-icon-transform: translateY(-14px); opacity: 1}
  100% {-gtk-icon-transform: translateY(0); opacity: 0.7}
}

/* Lockscreen keypad */
keypad > grid > button {
  border-radius: 9999px;
  -gtk-outline-radius: 9999px;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border: 0;
  box-shadow: none;
  background: 0;
}

keypad > grid > button:active {
  background: rgba(255, 255, 255, 0.3);
}

.text-only-button:active {
  background: rgba(255, 255, 255, 0.5);
}

keypad > grid > button:focus, .text-only-button:focus {
  outline-style: none;
}

.text-only-button {
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  border: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.3);
}

phosh-lockscreen phosh-media-player {
  margin-left: 12px;
  margin-right: 12px;
}

phosh-lockscreen .phosh-notification-tray list {
  background-color: @phosh_bg_color;
}

phosh-lockscreen .phosh-notification-tray row {
  background-color: @phosh_bg_color;
  margin-left: 12px;
  margin-right: 12px;
}

phosh-lockscreen .phosh-notification-tray phosh-notification-frame {
  background-color: @phosh_notification_bg_color;
  margin: 3px 0px 0px 0px;
}

phosh-lockscreen .phosh-notification-tray phosh-notification-content {
  background-color: @phosh_notification_bg_color;
}

phosh-lockscreen .phosh-notification-tray phosh-notification-content:last-child {
  margin-bottom: 3px;
  border-radius: 0px 0px 6px 6px;
}

/*
 * System modal dialogs (polkit, gcr, ...)
 */
.phosh-system-modal {
  background-color: alpha(@theme_bg_color, 0.7);
}

.phosh-system-modal-dialog {
  background-color: @theme_bg_color;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 0 1px alpha(black, .75);
  padding: 0px;
}

.phosh-system-modal-dialog-buttons label {
  margin: 12px;
}

.phosh-system-modal-dialog-buttons button {
  padding: 0;
  margin: 0;
  border-top: 1px solid @borders;
  border-right: 1px solid @borders;
  border-left-width: 0;
  border-bottom-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

.phosh-system-modal-dialog-buttons button:first-child {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 0;
}

.phosh-system-modal-dialog-buttons button:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 11px;
  border-right: none;
}

.phosh-system-modal-dialog-content {
  padding-left:  18px;
  padding-right: 18px;
}

.phosh-system-modal-dialog-title {
  padding-top: 18px;
  font-weight: 800;
  font-size: 120%;
}

.phosh-end-session-dialog .phosh-end-session-subtitle {
  font-feature-settings: "tnum";
}

.phosh-end-session-dialog .phosh-end-session-warning {
  color: #ba5645;
  font-weight: bold;
}

.phosh-end-session-dialog list {
  border-radius: 12px;
}

.phosh-end-session-dialog list row  {
  margin-left: 6px;
  margin-right: 6px;
}

.phosh-end-session-dialog list row:first-child  {
  margin-top: 6px;
}

.phosh-end-session-dialog list row:last-child  {
  margin-bottom: 6px;
}

.phosh-end-session-dialog list row box box.vertical label:first-child {
  font-weight: bold;
}

/* Don't dim list of inhibited applications */
.phosh-end-session-dialog list * {
  color: @theme_text_color;
  -gtk-icon-effect: none;
}

phosh-gtk-mount-prompt .phosh-system-modal-dialog-content > image {
  -gtk-icon-style: symbolic;
}

/*
 * Notifications
 */
phosh-notification-content {
  background: transparent;
}

phosh-notification-content .message-area {
  padding: 12px;
}

phosh-notification-content .message-area image {
  border-radius: 50%;
}

phosh-notification-content .actions-area button {
  border-radius: 0;
  box-shadow: none;
  border-left: none;
  border-right: none;
}

phosh-notification-content:last-child .actions-area button:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: none;
}

phosh-notification-frame {
  border-radius: 6px;
  background-color: @phosh_notification_bg_color;
  margin: 12px;
}

phosh-notification-banner > phosh-notification-frame {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33),
              0px 5px 6px 0px rgba(0, 0, 0, 0.07),
              0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

phosh-notification-frame list {
  background: transparent;
}

phosh-notification-frame .header-area {
  padding: 12px 12px 0 12px;
}

phosh-notification-frame .header-area image {
  -gtk-icon-style: symbolic;
}

phosh-notification-banner {
  border: none;
  background: transparent;
  padding: 12px;
}

/*
 * Output fader
 */
@keyframes phosh-fader-default-keyframe {
  from {background:rgba(0, 0, 0, 0);}
  to {background:rgba(0, 0, 0, 1);}
}

.phosh-fader-default-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for proximity dimming */
.phosh-fader-proximity-fade {
  animation-name: phosh-fader-default-keyframe;
  animation-duration: 200ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Fader used for screenshot flash */
@keyframes phosh-fader-flash-keyframe {
  from {background:rgba(255, 255, 255, 1);}
  to {background:rgba(255, 255, 255, 0);}
}

.phosh-fader-flash-fade {
  animation-name: phosh-fader-flash-keyframe;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.phosh-fader-screenshot-opaque {
  background: rgba(255, 255, 255, 0);
}

/*
 * Media player
 */
phosh-media-player {
  background: @phosh_notification_bg_color;
  border-radius: 6px;
  box-shadow: none;
}

phosh-media-player button {
  background: @phosh_notification_bg_color;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  outline-style: none;
}

phosh-media-player button:hover,
phosh-media-player button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

phosh-media-player > box > button:first-child {
  border-radius: 0 0 0 6px;
}

phosh-media-player > box > button:last-child {
  border-radius: 0 0 6px 0;
}

phosh-media-player .media-player-details {
  border-radius: 6px 6px 0 0;
}

/* The details button should not look inactive even when disabled */
phosh-media-player .media-player-details *:disabled {
  color: @theme_fg_color;
  -gtk-icon-effect: none;
}

/*
 * OSD
 */
phosh-osd-window levelbar block {
  min-height: 16px;
  box-shadow: none;
  border-color: white;
  border-radius: 5px;
}

phosh-osd-window levelbar block.low {
  background-color: white;
}

phosh-osd-window levelbar block.high {
  background-color: white;
}

phosh-osd-window levelbar block.full {
  background-color: white;
}

phosh-osd-window levelbar trough {
  box-shadow: none;
  border-width: 0px;
  padding: 0px;
}

/*
 * Splash
 */

phosh-splash.light {
  color: @phosh_splash_fg_color;
  background-color: @phosh_splash_bg_color;
}

phosh-splash.dark {
  /* phosh prefers dark, nothing to do */
}


phosh-splash.light image {
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 8px rgba(0, 0, 0, 0.2);
}

phosh-splash.dark image {
  -gtk-icon-shadow: 0 1px 2px rgba(255, 255, 255, 0.4), 0 1px 8px rgba(255, 255, 255, 0.2);
}
